@mixin standard-line-height {
    line-height: 25px;
}

input{
    @include standard-line-height;
    border: 1px solid black;
    width: 100%;
}

.view{
    line-height: 35px;
    max-width: 500px;
    margin: auto;
    
    &-header{
        padding: 15px 35px;
        border-bottom: 1px solid black;
        text-align: right;
    }
    
    &-content{
        padding: 15px;
        height: calc(100vh - 150px);
        overflow: scroll;
        
    }
    
    &-button{
        background: lightgray;
        float: right;
    }

    &-chatInput{
        @include standard-line-height;
        display: flex;
        padding: 15px;
        
        input{
            flex: 5;
        }
        
        button{
            @include standard-line-height;
            flex: 1;
            margin-left: 3%;
        }
    }
}

.message{
    &-text{
        border: 1px solid black;
        padding: 10px;
        border-radius: 3px;
    }
    
    &-mine{
        text-align: right;
    }

}